<header class="text-center pt-16">
  <div class="card card-side shadow-sm">
    <figure class="w-40 sm:w-48">
      <%= image_tag "my-profile.jpg", alt: "Fame's Quest Image", class: "" %>
    </figure>
    <div class="card-body justify-end sm:justify-between">
      <div>
        <h1 class="font-bold text-xl sm:text-3xl text-start">Fame's Quest</h1>
        <h6 class="sm:font-bold text-md text-start">Phuwamet Panjachalermrat</h6>
      </div>

      <div class="card-actions justify-end">
        <%= link_to "Fame's Brag Document", brag_path, class: "btn btn-info mt-4" %>
      </div>
    </div>
  </div>

  <div class="divider"></div>
</header>

<%= turbo_frame_tag "new_quest_form" do %>
  <%= render 'form', new_quest: @new_quest %>
<% end %>

<main>
  <%= turbo_frame_tag "display" do %>
    <%= render 'display', quests: @quests %>
  <% end %>
</main>
